.new-entry-form {
  position: relative;
  overflow-y: auto;
  margin-inline: auto;
  width: fit-content;
  z-index: 3;
  &__title {
    background: white;
    width: fit-content;
    z-index: 3;
    padding-inline: 1rem;
    margin-inline: auto;
    height: 2.2rem;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
  }
  ::-webkit-scrollbar {
    z-index: 1;
  }
  border-radius: 0.3rem;
  .new-entry {
    padding: 1rem;
    width: 40em;
    border-radius: 0.3rem;
    background-color: white;
    &__group {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
  .form {
    &__checkboxes {
      border: 1px solid #00000063;
      padding: 0.3rem;
      border-radius: 0.5rem;
    }
    &__object {
      border: 1px solid black;
      padding: 0.5rem 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  .skimmer {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__line {
      height: 10px;
      width: 100%;
      background-color: lightgray;
    }
  }

  /* Style the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }

  /* Change the color of the scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  /* Allow dragging of the scrollbar thumb */
  ::-webkit-scrollbar-thumb:active {
    background-color: #333;
  }

  /* Select the scrollbar track on hover */
  ::-webkit-scrollbar-track:hover {
    background-color: #f1f1f1;
  }

  /* Target iPhone */
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
    /* CSS styles for iPhone portrait mode */
    width: 100%;
    .new-entry {
      width: 100%;
    }
  }

  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
    /* CSS styles for iPhone landscape mode */
  }

  /* Target iPad */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* CSS styles for iPad portrait mode */
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* CSS styles for iPad landscape mode */
  }
}
