.dashboard {
  &__name{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
  }
}

.dashboard-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 92%;
  width: 100%;
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #0000004b;
  }

  .title {
    margin: 0;
  }
  .layout {
    min-height: 30rem;
    position: relative;
    width: 90%;
  }

  .fa-light {
    font-size: 3rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
  }

  .actions-panel {
    display: flex;
    width: 90%;
    justify-content: space-around;
    &__save {
      background-color: #8d8b01;
    }
    &__delete-btn {
      background-color: #62c5ff;
      transition: background-color 50ms ease-in-out;
      &:hover {
        background-color: #ff6262;
        border-color: #00000000;
      }
    }
  }
  .delete-dashboard-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 30%;
    background-color: blue;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transform: translate(-50%, -50%);
    label {
      font-size: 1.5rem;
    }
  }
  .flex-layout-wrapper {
    height: 30rem;
    width: fit-content;
    overflow-y: auto;
  }

  /* Target iPhone */
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
    /* CSS styles for iPhone portrait mode */
    .actions-panel {
      .dropdown-panels {
        position: absolute;
        background-color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        height: 30vh;
        z-index: 5;
        display: flex;
        flex-direction: column;

        &__tables {
          width: 100%;
        }
      }
      .shadow-mobile {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: #0000004b;
      }
    }
  }

  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
    /* CSS styles for iPhone landscape mode */
  }

  /* Target iPad */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* CSS styles for iPad portrait mode */
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* CSS styles for iPad landscape mode */
  }
}
