.header{
  --bar-width: 35px;
  --bar-height: 4px;
  --hamburguer-gap: 6px;
  --foreground: white;
  --background: white;
  --animation-timing: 100ms ease-in-out;
  --hamburguer-height: calc(var(--bar-height) * 3 + var(--hamburguer-gap) * 2);
  
  &__logo{
    position: relative;
    left: 5rem;
    cursor: pointer;
    transition: left 100ms ease-in-out;
    &.active{
      left: 15rem;
    }
  }

  &__hamburguer-menu {
    --x-width: calc(var(--hamburguer-height) * 1.41421);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: var(--hamburguer-gap);
    height: 2rem;
    left: 8px;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    z-index: 4;
    transition: left 100ms ease-in-out;
    &.active{
      left: 11.5rem
    }
  }

  &__hamburguer-menu::before,
  &__hamburguer-menu input,
  &__hamburguer-menu::after {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
      rotate var(--animation-timing);
  }

  &__hamburguer-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }

  &__hamburguer-menu:has(input:checked)::before {
    rotate: 45deg;
    translate: 0 calc(var(--bar-height) / -1.8);
    border-radius: 9999px;
  }

  &__hamburguer-menu:has(input:checked)::after {
    rotate: -45deg;
    translate: 0 calc(var(--bar-height) / 1.8);
    border-radius: 9999px;
  }
  &__hamburguer-menu input:checked {
    opacity: 0;
    width: 0;
  }
  &__language-selector{
    right: 2rem;
    position: absolute;
  }

  display: flex;
  flex: 1;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: #52b6cd;
}

/* Target iPhone */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (orientation: portrait) {
    .header{
      &__hamburguer-menu.active{
        left: 21rem
      }
      
      &__logo{
        left: 5rem;
        &.active{
          left: 2.5rem;
        }
      }
      
      &__language-selector{
        display: none;
      }
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (orientation: landscape) {
    /* CSS styles for iPhone landscape mode */
}

/* Target iPad */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) {
    /* CSS styles for iPad portrait mode */
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) {
    /* CSS styles for iPad landscape mode */
}
