files2/**
work-dir/.ipynb_checkpoints/**
files/block*
files/spark-*
files/bronze/**
files/silver/**
files/gold/**
*.conf
.idea/
files/sas_token.txt
work-dir/__pycache__/
work-dir/derby.log
work-dir/metastore_db/
work-dir/test/features/.ipynb_checkpoints/dap-checkpoint.feature
work-dir/test/features/steps/.ipynb_checkpoints/
work-dir/test/test-001/.ipynb_checkpoints/
work-dir/test/test-001/bronze/
work-dir/test/test-001/gold/
work-dir/test/test-001/silver/
work-dir/udl.tar.gz
work-dir/udl/.idea/
work-dir/udl/.ipynb_checkpoints/
work-dir/udl/UDL.egg-info/
work-dir/udl/__pycache__/
work-dir/udl/build/
work-dir/udl/udl.iml
work-dir/test/features/.ipynb_checkpoints/*
work-dir/test/.coverage
work-dir/test/plain.output
work-dir/test/.ipynb_checkpoints
**/.ipynb_checkpoints/**
files/*.json
work-dir/.Trash-1000
data/
