@use 'variables.scss';
@use '../styles/Header.scss';
@use '../styles/PVFlexLayout.scss';
@use '../styles/Sidebar.scss';
@use '../components/styles/components';
@use '../styles/NewEntryForm.scss';
@use '../views/styles/NewEntryView.scss';
@use '../views/styles/LoginView.scss';
@use '../views/styles/DashboardView.scss';
@use '../components/styles/DeleteConfirmatioModal.scss';
@use '../views/authGroups/AuthGroupForm.scss';
@use '../views/authGroups/CreateAuthGroup.scss';
@use '../views/authGroups/ReadAuthGroups.scss';
@use '../views/users/UpdateUser.scss';
@use '../views/authGroups/UpdateAuthGroup.scss';
@use '../views/users/CreateUser.scss';
@use '../views/users/ReadUsers.scss';
@use '../views/tables/ReadTables.scss';
@use '../views/styles/AdminView.scss';
@use '../views/styles/CreateNewTable.scss';
@use '../views/styles/DeleteTableView.scss';
@use '../views/styles/UpdateTable.scss';
@use '../views/styles/Unauthorized.scss';
@use '../views/styles/EdgesView.scss';
// @use '../components/styles/Sidebar.scss';

#root {
  height: 100%;
}

.success-msg {
  position: absolute;
  width: 18rem;
  text-align: right;
  left: -100%;
  z-index: 1;
  bottom: 5rem;
  transition: left 300ms ease-in-out;
  &.active {
    left: -1rem;
  }
}

.table-input-tooltip {
  position: absolute;
  left: 0;
  background-color: #ff5555; /* Tooltip background color */
  color: #fff; /* Tooltip text color */
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle box shadow */
  font-size: 14px;
  white-space: nowrap;
}
