@use 'variables';
@use '../views/styles/AdminView.scss';
@use '../styles/Header.scss';
@use '../styles/PVFlexLayout.scss';
@use '../styles/Sidebar.scss';
@use '../components/components';
@use '../styles/NewEntryForm.scss';
@use '../views/styles/NewEntryView.scss';
@use '../views/styles/LoginView.scss';
@use '../views/styles/DashboardView.scss';

#root {
  height: 100%;
}

.success-msg {
  position: absolute;
  width: 18rem;
  text-align: right;
  left: -100%;
  z-index: 1;
  bottom: 5rem;
  transition: left 300ms ease-in-out;
  &.active {
    left: -1rem;
  }
}
