@use '../sass/variables';

.dashboard-confirm-modal{
  position: absolute;
  background-color: variables.$primaryColor;
  padding: 3rem 5rem;
  z-index: 1;
  label {
    color: white;
  }
  .exit-btn {
    height: 2rem;
    width: 2rem;
    border-radius: 5rem;
    position: absolute;
    top: -1rem;
    right: -1rem;
    background-color: white;
    box-shadow: 0 0 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .xmark-icon{
      height: 2rem;
    }
  }
  .shadow-form-dash{
    width: 100%;
    height: 100%;
  }

  /* Target iPhone */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (orientation: portrait) {
  width: 100%;
  height: 53%;
  padding: 3rem 3rem;

  form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
    
    input{
      height: 3rem;
      font-size: 1.5rem;
      font-size: 1.38rem;
    }
    button{
      width: 7rem;
      height: 3.5rem;
      font-size: 1.8rem
    }
  }

  .exit-btn {
    right: 1rem;
    height: 3rem;
    width: 3rem;
  }
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (orientation: landscape) {
  /* CSS styles for iPhone landscape mode */
}

/* Target iPad */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) {
  /* CSS styles for iPad portrait mode */
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) {
  /* CSS styles for iPad landscape mode */
}
}