/* Target iPhone */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  /* CSS styles for iPhone portrait mode */
  .dropdown-panels {
    justify-content: center;
  }
  .dropdown-panels__tables {
    width: 30%;
  }
  .dropdown-panels__tables .form-select {
    width: 100%;
  }
  .flex-layout-wrapper {
    height: 15vh;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  /* CSS styles for iPhone landscape mode */
}
/* Target iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* CSS styles for iPad portrait mode */
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* CSS styles for iPad landscape mode */
}
.tab-actions-panel {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding-left: 0.7rem;
}

/* Target iPhone */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .tab-actions-panel {
    display: none;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  /* CSS styles for iPhone landscape mode */
}
/* Target iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* CSS styles for iPad portrait mode */
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* CSS styles for iPad landscape mode */
}
.sidebar {
  width: 14rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.9215686275);
  overflow-y: auto;
  height: calc(100% - 3rem);
  translate: -100%;
  transition: translate 100ms ease-in-out;
  z-index: 2;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.sidebar__admin-btn {
  background-color: #52b6cd;
  width: 90%;
  color: white;
}
.sidebar::before {
  content: "";
  background-color: white;
}
.sidebar.active {
  translate: 0;
}
.sidebar ::-webkit-scrollbar {
  width: 4px;
  position: absolute;
}
.sidebar ::-webkit-scrollbar-track {
  position: absolute;
  background: #f1f1f1;
}
.sidebar ::-webkit-scrollbar-thumb {
  position: absolute;
  background: #888;
}
.sidebar ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .sidebar {
    width: 100%;
  }
  .sidebar__admin-btn {
    margin-inline: auto;
    width: 90%;
  }
  .sidebar__language-selector.form-select {
    width: 9rem;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  /* CSS styles for iPhone landscape mode */
}
/* Target iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* CSS styles for iPad portrait mode */
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* CSS styles for iPad landscape mode */
}
.header {
  --bar-width: 35px;
  --bar-height: 4px;
  --hamburguer-gap: 6px;
  --foreground: white;
  --background: white;
  --animation-timing: 100ms ease-in-out;
  --hamburguer-height: calc(var(--bar-height) * 3 + var(--hamburguer-gap) * 2);
  display: flex;
  flex: 1;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: #52b6cd;
}
.header__logo {
  position: relative;
  left: 5rem;
  cursor: pointer;
  transition: left 100ms ease-in-out;
}
.header__logo.active {
  left: 15rem;
}
.header__language-selector.form-select {
  width: fit-content;
}
.header__hamburguer-menu {
  --x-width: calc(var(--hamburguer-height) * 1.41421);
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: var(--hamburguer-gap);
  height: 2rem;
  left: 8px;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
  z-index: 4;
  transition: left 100ms ease-in-out;
}
.header__hamburguer-menu.active {
  left: 11.5rem;
}
.header__hamburguer-menu::before, .header__hamburguer-menu input, .header__hamburguer-menu::after {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing);
}
.header__hamburguer-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}
.header__hamburguer-menu:has(input:checked)::before {
  rotate: 45deg;
  translate: 0 calc(var(--bar-height) / -1.8);
  border-radius: 9999px;
}
.header__hamburguer-menu:has(input:checked)::after {
  rotate: -45deg;
  translate: 0 calc(var(--bar-height) / 1.8);
  border-radius: 9999px;
}
.header__hamburguer-menu input:checked {
  opacity: 0;
  width: 0;
}
.header__language-selector {
  right: 2rem;
  position: absolute;
}

/* Target iPhone */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .header__hamburguer-menu.active {
    left: 21rem;
  }
  .header__logo {
    left: 5rem;
  }
  .header__logo.active {
    left: 2.5rem;
  }
  .header__language-selector.form-select {
    display: none;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  /* CSS styles for iPhone landscape mode */
}
/* Target iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* CSS styles for iPad portrait mode */
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* CSS styles for iPad landscape mode */
}

/*# sourceMappingURL=main.css.map */
